@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto regular';
  src: url('/assets/font/Roboto-Regular.ttf') format('truetype');
}

@layer base {
  body,
  button,
  input,
  select,
  textarea {
    font-family: Roboto regular, serif;
  }
}
